@import './vars.scss';

body{
    background-color: #F1D2C8;
    
}

@media (min-width:300px) and (max-width:500px){
    .mobile{
        display: block ;
        width: 100%;
    }
    .regular{
        display: none;
    }
}

@media (min-width:500px){
    .mobile{
        display: none;
    }
    .regular{
        display: block;
        width:100%;
    }
}